<%= form_for(@group) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <br>
    <div>
        <%= f.label :time %>
        <%= f.time_select :time,
        {ampm: true,
        ignore_date: true,
        start_hour: 10, 
        end_hour: 18,
        discard_minute: true,
        prompt: true,
        prompt: { hour: "Choose hr" }
        } %>
    </div>
    <br>

    <div>
     What type of session is this group?
    
    <%= f.collection_select :type_id, Type.all, :id, :name %> 
    </div>
    <br>
    <div>
     If new type of group session, please enter:
    <br>
    <br>
    <%= f.fields_for :type do |t| %> 
        <%= t.label :name %>
        <%= t.text_field :name %>
    <% end %>
    </div>

    <br>
    <%= f.submit %>

<% end %>

