<%= form_for(@group) do |f| %>
    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :time %>
        <%= f.number_field :time, min:30, max: 90 %>
    </div>

        <%= f. submit %>
        <p>Add A Review:</p>
        <div>
            <%= f.fields_for :review do |m| %>
                <%= m.label :name %>
                <%= m.text_field :name %>
            <datalist id="review_name">
                <% Review.all.each do |c| %>
               <option value = "<%= r.name %>"  ></option>
                <% end %>
            </datalist>
            <br>
            <% end %>
        </div>
            <%= f. submit %>

<% end %>

