



<%= form_for(@review) do |f|%>
  <% if params[:group_id] %>
    <%= f.hidden_field :group_id %>
  <% else %>
    <div>
      <%= f.label :group_id, "Select a Group" %>
    
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :review  %>
  </div>
  


  <%= f.submit %>

<% end %>