<% if params[:group_id] %>


<h1>Please Review Your Group Session - <%= @review.group.name %></h1>
<% else  %>
 <h3> Add A New Review </h3>
<% end %>
<%= form_for(@review) do |f|%>

  <div>
 <%= f.label :Review %>
 <br>
 <br>
    <%= f.text_area :review  %>
  </div>
  
 <%= f.hidden_field :group_id %>

 <br>
  <%= f.submit %>

<% end %>