<!DOCTYPE html>
<html>
  <head>
    <title>BreatheAndFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>

    <div>
    <% if logged_in?%>

    <div class="navigation">
    <ul>
      <%= link_to "My Groups", groups_path %>  | 
      <%= link_to "Create New Group", new_group_path %> | 
      <%= link_to "Logout", logout_path, method:"delete"%>
    </ul>
    <%else%>
      <%=link_to "Sign Up", signup_path %> | <br> 
      <%=link_to "Log In", login_path %>  | 
      <br> <%= link_to "Logout", logout_path, method:"delete"%>

    <% end %>
    </div>


    <%= yield %>
  </body>


</html>
